# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/node_modules
/.pnp
.pnp.js

/coverage

/out/
/docker/apollo-server/out

/build

.DS_Store
*.pem

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env*.local

*.tsbuildinfo

/.idea
.vsco

.lighthouseci/
/lhci-reports-desktop
/lhci-reports-mobile

./tsconfig.tsbuildinfo

.vscode/
./.vscode/

*.log

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

/storybook-static

.stryker-tmp
stryker.log

reports/
/tests/load/results/
/tests/memory-leak/results/
