node_modules
.pnpm-store

build
.next

.stryker-tmp
**/.stryker-tmp/**
coverage
.nyc_output
**/*.snap

playwright-report/
lhci-reports-desktop/
lhci-reports-mobile/
.lighthouseci

out
storybook-static/

.cache
.eslintcache
.npm

*.log
*.lock
