@font-face {
  font-family: 'Golos';
  font-display: swap;
  font-weight: 400;
  src: url('../assets/fonts/golos/Golos-Text_Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Golos';
  font-display: swap;
  font-weight: 500;
  src: url('../assets/fonts/golos/Golos-Text_Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Golos';
  font-display: swap;
  font-weight: 700;
  src: url('../assets/fonts/golos/Golos-Text_Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Golos';
  font-display: swap;
  font-weight: 900;
  src: url('../assets/fonts/golos/Golos-Text_Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-weight: 400;
  src: url('../assets/fonts/inter/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-weight: 500;
  src: url('../assets/fonts/inter/Inter-Medium.woff2') format('woff2');
}
