@font-face {
  font-family: 'Golos';
  font-display: swap;
  font-weight: 400;
  src: url('../assets/fonts/golos/golos-text-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Golos';
  font-display: swap;
  font-weight: 500;
  src: url('../assets/fonts/golos/golos-text-medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Golos';
  font-display: swap;
  font-weight: 700;
  src: url('../assets/fonts/golos/golos-text-bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Golos';
  font-display: swap;
  font-weight: 900;
  src: url('../assets/fonts/golos/golos-text-black.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-weight: 400;
  src: url('../assets/fonts/inter/inter-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  font-weight: 500;
  src: url('../assets/fonts/inter/inter-medium.woff2') format('woff2');
}
