:root {
  --mui-palette-deep-green: #38b386;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Helvetica Neue,
    sans-serif;
  font-size: 16px;
}
a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: var(--mui-palette-deep-green, green);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
