:root {
  --mui-palette-deep-blue: #297fff;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Helvetica Neue,
    sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: var(--mui-palette-deep-blue);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
